# Default ignored files
/SokobanFX/target/
/SokobanFX/logs/
/shelf/
/.idea/
/records/
SokobanFX/DMS.iml
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/